:root {
  --asset-order: -1;
  --callouts-width: 33%;
  --cmp-banner-item: 1;
  --cmp-banner-transition-delay: .15s;
  --cmp-banner-transition-property: all;
  --cmp-banner-transition-timing-function: cubic-bezier(.455, .03, .515, .955);
  --cmp-callout-item: 1;
  --cmp-callouts-transition-delay: .2s;
  --cmp-height-unit: 1vh;
  --cmp-speedometer-duration: 1.733s;
  --cmp-speedometer-fractional-translation: 0%;
  --cmp-speedometer-integer-translation: 0%;
  --cmp-speedometer-number-offset-desktop: -39px;
  --cmp-speedometer-number-offset-mobile: -31px;
  --cmp-speedometer-numbers-height-desktop: 390px;
  --cmp-speedometer-numbers-height-mobile: 310px;
  --cmp-speedometer-numbers-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  --cmp-speedometer-time-increment: 0;
  --cmp-speedometer-transition-property: transform;
  --cmp-speedometer-transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  --cmp-transition-duration--short: .5s;
  --cmp-transition-property: opacity;
  --cmp-transition-timing-function: cubic-bezier(.23, 1, .32, 1);
  --iphone-media-height: calc(100vh - 30px);
  --iphone-x-media-height: calc(100vh - 69px);
  --iphone-xr-media-height: calc(100vh - 69px);
  --iphone-xs-max-media-height: calc(100vh - 69px);
  --media-height: 100vh;
  --tds-list-separator_width: 1px
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer {
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 0px;
  white-space: nowrap;
      margin-top: -6px;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
  background-image: url("https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/models/hero/speedometer.svg?20170619");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 27px;
  margin-right: 2.5px;
  position: relative;
  width: 43px
}

@media (max-width:639px) {
  .hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer {
    -webkit-transform: scale(.74);
    bottom: 0;
    margin-left: -5px;
    margin-right: 0;
    transform: scale(.74)
  }
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-circle {
  bottom: 3.5px;
  height: 15.5px;
  left: 7px;
  overflow: hidden;
  position: absolute;
  width: 30px
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-circle-inner {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NiIgaGVpZ2h0PSIzMyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBvcGFjaXR5PSIuMiIgZmlsbD0iIzE5MUIxRCIgZD0iTTY1LjkzMSAzMi44NTFILjk0NEMuOTQ0IDE1LjE3MyAxNS40OTYuODM1IDMzLjQzOS44MzVjMTcuOTQxIDAgMzIuNDkyIDE0LjMzOCAzMi40OTIgMzIuMDE2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0;
  height: 15.5px;
  left: 0;
  position: absolute;
  width: 30px
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-circle-inner.cmp-animate--to_reveal {
  -webkit-transform: translateZ(0) rotate(-180deg);
  -webkit-transform-origin: 50% 95% 0;
  -webkit-transition: -webkit-transform 5s cubic-bezier(.77, 0, .175, 1);
  -webkit-transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-transition-timing-function);
  transform: translateZ(0) rotate(-180deg);
  transform-origin: 50% 95% 0;
  transition: -webkit-transform 5s cubic-bezier(.77, 0, .175, 1);
  transition: transform 5s cubic-bezier(.77, 0, .175, 1);
  transition: transform 5s cubic-bezier(.77, 0, .175, 1), -webkit-transform 5s cubic-bezier(.77, 0, .175, 1);
  transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-transition-timing-function);
  transition-delay: 5s !important;
  animation-delay: 5s !important;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-circle-inner.cmp-animate--to_reveal.cmp-animate--revealed {
  -webkit-transform: translateZ(0) rotate(0);
  transform: translateZ(0) rotate(0);
  transition-delay: 5s !important;
  animation-delay: 5s !important;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-needle {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIzOCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOS42MTYgMzIuOTI5YzAgLjAzMy4wMDQuMDY1LjAwNC4wOThhNC4xNzIgNC4xNzIgMCAwIDEtLjYyNCAyLjEyOCA0LjI3MiA0LjI3MiAwIDAgMS0uOTE5IDEuMTIzYy0uNzA1LjYwNC0xLjU3OC45My0yLjU0OC45ODVhNC45MjUgNC45MjUgMCAwIDEtLjQ3My4wMTdjLS4wOTYtLjAwMS0uMTkxLS4wMTEtLjI4Ni0uMDE4YTQuNjMyIDQuNjMyIDAgMCAxLTEuMTA3LS4yMTggNC41MjMgNC41MjMgMCAwIDEtMS4wODQtLjQ4NyA0LjA0OCA0LjA0OCAwIDAgMS0xLjcyLTIuMjM4IDQuMTU2IDQuMTU2IDAgMCAxLS4yMzMtMS40MjdjMC0uMDIuMDAzLS4wNC4wMDQtLjA2LS4wMDEtLjA2MS0uMDA4LS4xMTktLjAwNi0uMTgxIDAtLjAzNy4wMDItLjA3My4wMDYtLjEwOUwzLjc3NyAxLjUxQzMuODQ4Ljc5NyA0LjQ3NC4yNTUgNS4yMi4yNThjLjc0NC4wMDIgMS4zNjguNTUxIDEuNDM3IDEuMjY1bDIuOTYxIDMxLjE1NWMuMDA2LjA1Mi4wMDYuMTA0LjAwNS4xNTUtLjAwMS4wMzMtLjAwNi4wNjQtLjAwNy4wOTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 2px;
  height: 17px;
  left: 20px;
  position: absolute;
  width: 4.5px
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-needle.cmp-animate--to_reveal {
  -webkit-transform: translateZ(0) rotate(-90deg);
  -webkit-transform-origin: 50% 15px 0;
  -webkit-transition: -webkit-transform 5s cubic-bezier(.77, 0, .175, 1);
  -webkit-transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-transition-timing-function);
  transform: translateZ(0) rotate(-90deg);
  transform-origin: 50% 15px 0;
  transition: -webkit-transform 5s cubic-bezier(.77, 0, .175, 1);
  transition: transform 5s cubic-bezier(.77, 0, .175, 1);
  transition: transform 5s cubic-bezier(.77, 0, .175, 1), -webkit-transform 5s cubic-bezier(.77, 0, .175, 1);
  transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-transition-timing-function);
  transition-delay: 5s;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .speedometer .speedometer-needle.cmp-animate--to_reveal.cmp-animate--revealed {
  -webkit-transform: translateZ(0) rotate(90deg);
  transform: translateZ(0) rotate(90deg);
  transition-delay: 5s;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers {
  -ms-flex-align: end;
  -ms-flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
      font-weight: bold;
    line-height: 1.8;
}

@media (max-width:639px) and (orientation:portrait),
(max-width:839px) and (orientation:landscape) {
  .hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers {
    line-height: normal
  }
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number {
  display: inline-block;
  height: 39px;
  line-height: normal;
  overflow: hidden
}

@media (max-width:639px) and (orientation:portrait),
(max-width:839px) and (orientation:landscape) {
  .hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number {
    height: 31px
  }
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number .number-inner {
  color: #222;
  color: var(--tds-text-headline_color, #222);
  display: block;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 39px;
  width: 21px
}

@media (max-width:639px) and (orientation:portrait),
(max-width:839px) and (orientation:landscape) {
  .hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number .number-inner {
    font-size: 26px;
    line-height: 31px;
    width: 16px
  }
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number .number-inner.cmp-animate--to_reveal {
  -webkit-transition: -webkit-transform 5s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-numbers-transition-timing-function);
  transition: -webkit-transform 5s cubic-bezier(1, 0, 0, 1);
  transition: transform 5s cubic-bezier(1, 0, 0, 1);
  transition: transform 5s cubic-bezier(1, 0, 0, 1), -webkit-transform 5s cubic-bezier(1, 0, 0, 1);
  transition: var(--cmp-speedometer-transition-property) var(--cmp-speedometer-duration) var(--cmp-speedometer-numbers-transition-timing-function);
  transition-delay: 5s;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number .number-inner.cmp-animate--to_reveal.cmp-animate--revealed {
  -webkit-transform: translateY(0) translateZ(0);
  -webkit-transform: translateY(var(--cmp-speedometer-integer-translation)) translateZ(0);
  transform: translateY(0) translateZ(0);
  transform: translateY(var(--cmp-speedometer-integer-translation)) translateZ(0);
  font-weight: bold;
  transition-delay: 5s;
}

.hero>div[class^=hero--].hero--with-callouts .hero-callouts .callout-title .callout-rich-ui--speedometer .numbers .number .number-inner.number-inner--fractional.cmp-animate--to_reveal.cmp-animate--revealed {
  -webkit-transform: translateY(0) translateZ(0);
  -webkit-transform: translateY(var(--cmp-speedometer-fractional-translation)) translateZ(0);
  transform: translateY(0) translateZ(0);
  transition-delay: 5s;
  transform: translateY(var(--cmp-speedometer-fractional-translation)) translateZ(0);
}