/*responsive design*/
@media only screen and (max-width: 813px) {
  .navLinks, .shopLinks {
    display: none;
  }

  .openContainer {
  	margin-left: auto!important;
  }

  #fp-nav {
  	display: none;
  }

    .footer__Resp, .resp__Menu {
		display: block;
	}

	.footer {
		display: none;
	}
  
}

@media only screen and (max-width: 600px) {
  .slider-text {
  	width: 100% !important;
  }
}

@media only screen and (max-width: 1050px) {
  .note {
    bottom: 40px;
    min-width: 351px;
  }
}


@media only screen and (max-width: 635px) {
    .configuration {
	    width: 100% !important;
	    bottom: 15px;
	}
}

@media only screen and (max-width: 576px) {
    .configuration {
	    width: 100% !important;
	    bottom: 15px;

	}

	#section5 .btnLeft {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 1200px) {
   #section7 .configuration, #section9 .configuration, #section10 .configuration, #section11 .configuration, #section8 .configuration {
	    width: 85% !important;
	}
}

@media only screen and (max-width: 1017px) {

	#section7 .configuration, #section9 .configuration, #section10 .configuration, #section11 .configuration, #section8 .configuration {
		text-align: center;
		align-items: center;
	    width: 70%;
	}

	#section7 .text, #section8 .text, #section11 .text {
	    display: none;
	}

	#section7 .textResp, #section8 .textResp, #section11 .textResp  {
	    display: inline-block;
	}

	#section7 .about, #section8 .about, #section9 .about, #section10 .about, #section11 .about {
		width: 100%;
	}
}

@media only screen and (max-width: 1201px) {

	#section12 img {
		width: 100%;
	}


	#section8 .leftBar {
		display: none;
	}

	#section8 .configuration {
		width: 975px;
		bottom: 34vh;
		color: #fff;
		left: 50%;
   		 transform: translate(-50%, -50%);
	}

	#section8 .about {
		display: inline-block !important;
	}

	#section8 .myVideo  {
		width: 100%;
		height: 73vh;
	}
}


@media only screen and (max-width: 769px) {

	#section9 .configuration {
	    bottom: 37vh !important;
	}

	#section13 .order1__Resp {
		order: -1;
	}

	#section12 img {
		display: none;
	}
	
	#section7 .about {
	    bottom: -66px;
	}

	#section10 .about  {
	    bottom: -80px;
	}

	#section11 .about {
	    bottom: -60px;
	}

	#section8 .about {
	    bottom: -48px;
	}

	#section9 .about {
	    bottom: -40px;
	}

	#section7 img, #section8 .myVideo, #section9 .myVideo, #section10 img {
	    height: 60vh;
	}

	 #section10 img {
		height: 62vh !important;
	 }

	 #section11 img {
		height: 57vh !important;
	 }

	#section7 .configuration .col-md-4, #section9 .configuration .col-md-4, #section10 .configuration .col-md-4, #section11 .configuration .col-md-4, #section8 .configuration .col-md-4 { 
		padding: 5px;
	}
}

@media only screen and (max-width: 768px) {
	#section0 .btnRight {
	    margin-top: 10px;
	}
}


@media only screen and (max-width: 976px) {
	#section10 img {
	    height: 64vh;
	}

     #section9 .listConf, #section10 .listConf {
		display: none;
	}

	 #section9 .configuration {
		display: block;
		color: #000;
	}

	 #section10 .configuration {
		display: block;
		color: #fff;
	}

	#section9 .twelve {
		padding: 3px 5px;
		margin-bottom: 3px;
	}   

	#section10 .configuration {
	    bottom: 37vh;
	}

	#section9 .configuration {
	    bottom: 25vh;
	}
}

@media only screen and (max-width: 880px) {
    #section6 .imgResp {
      display: block;
	  height: 50vh;
	  position: absolute;
	  top:0;
	  right: 0;
	  width: 100%;
	  background-size: 100% 100%;
	  background-color: black; 
	  background-position: center center;
	  background-size: contain;
	  object-fit: cover;
	  z-index:3;
    }

    #section6 .img {
    	display: none;
    }

    #section6 .topText {
	  position: absolute;
	  top: unset;
	  left: 1%;
	  bottom: 14vh;
	  z-index: 20;
	  width: 100%;
	}

	#section6 .bottomText {
	  bottom: 4%;
	}
}

@media only screen and (max-width: 600px) {
    #section11 .configuration {
    	display: none;
    }
}

@media only screen and (max-width: 423px) {

	
	#section7 .about {
	    bottom: -115px;
	}

	
}

@media only screen and (max-width: 520px) {

	#section10 img {
	    height: 57vh !important;

	}

	#section10 .about {
	    bottom: -125px !important;
	    
	}
	
}