body {
	margin: 0;
	padding: 0;
  width: 100%;
 /* overflow: hidden !important;
    overflow-y: auto !important;*/
      font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a, a:hover {
	text-decoration: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent !important;
}

#wrapper {
	position: relative;
	height: 100vh;
}

#slider-area {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
}

#slider-area .owl-item>div {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: 50% 50%;
}

.slider-text {
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
	z-index: 10;
	text-align: center;
	width: 600px !important;
}

.slider-text h1 {
	font-weight: 600;
    color: #fff;
    margin: 18px;
}

.slider-text .visit {
	color: #fff;
    font-size: 14px;
    padding: 0.5px;
    border-bottom: 1px solid;
}

.navbar {
	padding: 0px 10px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.nav-item a {
	color: #fff;
    font-size: 14px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.owl-dots {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.note {
	position: absolute;
    bottom: 8px;
    color: #fff;
    z-index: 300;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
}

.goDown {
	position: absolute;
    bottom: -10px;
    color: #fff;
    z-index: 300;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px !important;
    -webkit-animation-name: moveDown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation: moveDown 1.5s infinite;

}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes moveDown {
  0% {bottom: -10px;}
  20% {bottom: -17px;}
  40% {bottom: -10px;}
  60% {bottom: -12px;}
  80% {bottom: -10px;}   
}

/* Standard syntax */

@keyframes moveDown {
   0% {bottom: -10px;}
  20% {bottom: -17px;}
  40% {bottom: -10px;}
  60% {bottom: -12px;}
  80% {bottom: -10px;} 
}

/* Firefox < 16 */
@-moz-keyframes moveDown {
     0% {bottom: -10px;}
  20% {bottom: -17px;}
  40% {bottom: -10px;}
  60% {bottom: -12px;}
  80% {bottom: -10px;} 
}

/* Internet Explorer */
@-ms-keyframes moveDown {
  0% {bottom: -10px;}
  20% {bottom: -17px;}
  40% {bottom: -10px;}
  60% {bottom: -12px;}
  80% {bottom: -10px;} 
}

/* Opera < 12.1 */
@-o-keyframes moveDown {
  0% {bottom: -10px;}
  20% {bottom: -17px;}
  40% {bottom: -10px;}
  60% {bottom: -12px;}
  80% {bottom: -10px;} 
}

.goUp {
	position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    z-index: 300;
    font-size: 35px !important;
}

#section3 .goUp, #goUp6, #goUp7, #goUp8, #goUp9, #goUp11, #goUp13 {
	color: #000 !important;
}

.btnLeft {
    font-size: 12px;
    padding: 11px 42px;
    background: #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 30px
}

.btnLeft:hover {
	background-color: rgb(247,247,247);
}

.btnRight {
    font-size: 12px;
    padding: 9px 42px;
    background: transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid;
    font-weight: 800;
    border-radius: 30px
}

.btnRight:hover {
	background-color: #fff;
	color: #000;
	border-color: #fff;
}

.myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: /* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:3;
}


.videoText {
	z-index: 10;
	color: #fff;
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoText h1 {
	font-weight: 600;
    color: #fff;
    margin: 3px;
}

.videoText p {
    color: #fff;
}

.videoText button {
	min-width: 200px;
}

#section3 img {
	height: 86vh;
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: /* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:3;
}

#section3 .videoText {
	position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 10;
	color: #fff;
}

#section3 .videoText p {
	margin-bottom: 0px;
}

.footer, .footer__Resp {
	position: absolute;
	bottom: 0;
	height: 14vh;
	width: 100%;
}

.footer ul, .footer__Resp ul {
	padding-top: 25px;
} 

.footer li a, .footer__Resp li a  {
	color: #000;
	font-size: 12px;
}


#sidebar {
	position: fixed;
    height: 100vh;
    right: 0;
    z-index: 1200;
    top: 0;
    width: 0px;
    background: #fff;
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: .2s; /* Safari */
    transition-property: width;
    transition-duration: .2s;
    overflow: hidden;
}

.opened {
	width: 240px !important;
	transition-direction:;
}

#sidebar .list-group {
	margin-left: 0;
	margin: 15px 10px;
}

#sidebar .list-group-item {
	border:none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0px;
	padding: 15px;
}

#sidebar .list-group-item a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

#sidebar span {
	margin-left: 200px;
	margin-top: 10px;
    font-size: 25px;
}

#openSide {
	color: #FFF;
}

.footer__Resp, .resp__Menu {
	display: none;
}



#closeSide {
	margin-top: 10px;
}

#nav-icon3 span:nth-child(1), #closeSide span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3), #closeSide span:nth-child(2), #closeSide span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4), #closeSide span:nth-child(4) {
  top: 14px;
}

#nav-icon3.open span:nth-child(1), #closeSide.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2), #closeSide.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#closeSide.open span:nth-child(2), #closeSide.open span:nth-child(3),
#closeSide span:nth-child(1), #closeSide span:nth-child(2), #closeSide span:nth-child(3), #closeSide span:nth-child(4)
{
	background-color: #000;
}

#nav-icon3.open span:nth-child(3), #closeSide.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4), #closeSide.open span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#nav-icon3, #closeSide {
  width: 23px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span, #closeSide span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}



/*model S Page*/

#section5 img {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

#section5 .videoText {
  position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
}

#section5 .videoText h4 {
  margin-bottom: 0px;
}


#section5 .btnLeft {
  background: transparent;
  font-weight: bold;
}

 #section10 img {
  height: 73vh;
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-image: 
  background-position: center center;
  background-size: contain;
  object-fit: cover; 
  z-index:3;
}

#section7 img {
  height: 68vh;
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-image: 
  background-position: center center;
  background-size: contain;
  object-fit: cover; 
  z-index:3;
}

#section8 .myVideo{
  position: absolute;
  left: 0;
  bottom: 0;
  top:0;
  width: 70%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

#section9 .myVideo{
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 75vh;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

#section11 img {
  height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

.configuration {
  width: 635px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.configuration .info,  .listConf span  {
      font-size: 12px;
      line-height: 1.8;
}

.configuration p,  .listConf p {
      margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
    line-height: 0.8;
}

.configuration .number {
  font-size: 40px;
}

.configuration .btnLeft, .listConf .btnLeft, #section6 .bottomText .btnLeft, #section7 .about .btnLeft, #section8 .about .btnLeft, #section9 .about .btnLeft, #section10 .about .btnLeft, #section11 .about .btnLeft, #section8 .leftBar .btnLeft {
  border: 3px solid #000;
}

.configuration .btnLeft:hover, .listConf .btnLeft:hover, #section6 .bottomText .btnLeft:hover {
  background: #000 !important;
  color: #fff;
}

.configuration .borderedCol, .listConf .borderedCol {
      border-left: 1px solid;
    border-right: 1px solid;
}

#section5 .goDown {
  position: absolute;
    bottom: 0px;
    color: #000;
    z-index: 300;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px !important;
    -webkit-animation-name: move; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation: move 1.5s infinite;

}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes move {
  0% {bottom: 0px;}
  20% {bottom: -7px;}
  40% {bottom: 0px;}
  60% {bottom: -2px;}
  80% {bottom: 0px;}   
}

/* Standard syntax */

@keyframes move {
   0% {bottom: 0px;}
  20% {bottom: -7px;}
  40% {bottom: 0px;}
  60% {bottom: -2px;}
  80% {bottom: 0px;} 
}

/* Firefox < 16 */
@-moz-keyframes move {
   0% {bottom: 0px;}
  20% {bottom: -7px;}
  40% {bottom: 0px;}
  60% {bottom: -2px;}
  80% {bottom: 0px;}  
}

/* Internet Explorer */
@-ms-keyframes move {
   0% {bottom: 0px;}
  20% {bottom: -7px;}
  40% {bottom: 0px;}
  60% {bottom: -2px;}
  80% {bottom: 0px;} 
}

/* Opera < 12.1 */
@-o-keyframes move {
   0% {bottom: 0px;}
  20% {bottom: -7px;}
  40% {bottom: 0px;}
  60% {bottom: -2px;}
  80% {bottom: 0px;} 
}

#section6 .img {
  height: 100%;
  position: absolute;
  top:0;
  right:-110px;
  width: 100%;
  background-size: 100% 100%;
  background-color: black; 
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index:3;
}

#section6 .imgResp {
  display: none;
}


#section6 .topText {
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 20;
  width: 270px;
}

#section6 .topText .title, #section7 .about .title, #section8 .about .title, #section9 .about .title, #section10 .about .title, #section11 .about .title, #section8 .leftBar .title {
    margin-bottom: 0;
    color: #aaa;
    font-size: 20px;
}

#section6 .topText h2 {
      font-size: 28px;
    font-weight: bold;
}

#section6 .bottomText {
  position: absolute;
    bottom: 7%;
    left: 5%;
    font-size: 11px;
    z-index: 20;
}

#section6 .bottomText span, #section7 .about span, #section8 .about span, #section9 .about span, #section10 .about span,  #section11 .about span, #section8 .leftBar span  {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#section6 .bottomText .btnPlus, #section7 .about .btnPlus, #section8 .about .btnPlus,  #section9 .about .btnPlus, #section10 .about .btnPlus, #section11 .about .btnPlus, #section8 .leftBar .btnPlus, #section8 .leftBar .btnPlus {
  padding: 5px 10px;
}

#section6 .bottomText .btnOrder, #section7 .about .btnOrder, #section8 .about .btnOrder, #section9 .about .btnOrder, #section10 .about .btnOrder, #section11 .about .btnOrder, #section8 .leftBar .btnOrder {
  padding: 7px 5px;
  min-width: 140px;
  font-size: 11px;
}

#section7 .configuration, #section9 .configuration, #section10 .configuration {
  width: 975px;
  bottom: 34vh;
  color: #fff;
}

#section9 .configuration, #section10 .configuration {
  display: none;
}

#section7 .configuration .col-md-4, #section9 .configuration .col-md-4, #section10 .configuration .col-md-4, #section11 .configuration .col-md-4, #section8 .configuration .col-md-4 {
  padding: 0px 30px;
}

#section7 .configuration .text, #section9 .configuration .text, #section10 .configuration .text, #section8 .configuration .text, #section11 .configuration .text {
  font-size: 12px;
  line-height: 1.2;
  padding-top: 5px;
}

#section7 .configuration .number, #section9 .configuration .number, #section10 .configuration .number, #section11 .configuration .number, #section8 .configuration .number {
  font-size: 27px;
}

#section7 .configuration p, #section11 .configuration p, #section9 .configuration p, #section10 .configuration p,  #section8 .configuration p {
    margin-bottom: 6px;
}

#section7 .about, #section8 .about, #section9 .about, #section10 .about, #section11 .about    {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}

#section10 .about {
  bottom: -20px;
}

#section7 .about p, #section8 .about p, #section9 .about p, #section10 .about p, #section11 .about p, #section8 .leftBar p  {
  font-size: 15px;
}

#section7 .about h2, #section8 .about h2, #section9 .about h2, #section10 .about h2,  #section11 .about h2, #section8 .leftBar h2 {
  font-size: 25px;
  font-weight: bold;
}

#section8 .leftBar {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  font-size: 11px;
}

#section8 .mapContainer {
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/map.jpg");
  height: 280px;
  margin: 30px 0px;
  border-radius: 20px; 
}

#section8 .configuration {
    width: 839px;
    bottom: 7vh;
    left: 36%;
    color: #fff;
}

#section8 .textResp, #section11 .textResp {
  display: none;
}

#section9 .videoText {
  left: 20%;
  top: 37%;
  color: #000;

}

#section9 .dInline {
  display: inline-block;
}

#section9 .listConf .number {
  color: #000;
  font-size: 26px;
}

.listConf {
  font-size: 12px;
}

.listConf p {
  color: #000;
  margin-bottom: 5px;
}

.listConf hr {
   border-top: 1px solid #000;
    width: 20%;
}

.listConf .list-group-item {
  background: transparent;
  border: none;
}

.twelve {
  border: 2px solid;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 22px;
}

.twoLine {
  line-height: 1.3;
    margin-bottom: 11px;
    display: inline-block;
    font-weight: bold;
}

#section10 .videoText {
  right: 40px;
  top: 10%;
  color: #fff;
  left: unset;
    transform: unset;
}

#section10 .listConf hr {
   border-top: 1px solid #fff;
}

#section10 .listConf p {
  color: #fff !important;
}

#section10 .listConf .number {
  font-size: 25px !important;
}


#section11 .configuration {
  width: 850px;
  top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
} 

#section11 .about {
  z-index: 20;
  bottom: -17px;
} 

#section12 {
  width: 100%;
  height: 100vh;
  background-color: #000; 
  color: #fff;
}

#section12 .leftSide {
  /*padding: 85px;*/
}

#section12 .rightSide {
  /*padding: 70px 0px;*/
}

#section12 img {
  width: 70%;
}

#section13 img {
  /*height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  top:20%;
  right:0;*/
  width: 100%;
/*  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index:3;*/
}

#section13 .videoText2  button {
  min-width: 0px;
  /*z-index: 10;
  min-width: 200px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);*/
    /*min-width: 425px;*/
}

#section13 .videoText2 h3 {
  color: #000;
    font-weight: 600;
    margin: 3px;
}

#section13 .videoText2 button {
  border: 3px solid #000;
  padding: 7px 42px;
  margin-top: 15px;
      max-width: 380px;
    display: inline-block;
}

#section12 .listConf p {
  color: #fff !important;
  font-weight: bold;
  margin-bottom: 3px;
}

#section12 .listConf p span{
  font-size: 15px;
}

#section12 .listConf hr {
  border-top: 1px solid rgba(255,255,255,0.5) !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

#section12 .nav-tabs {
  border-bottom: none;
  margin-bottom: 20px;
}

#section12 .nav-tabs .nav-link.active {
   background-color: transparent; 
   border-color: transparent; 
}

#section12 .nav-tabs .nav-link.active button {
   opacity: 1;
}

#section12 .nav-tabs button {
  opacity: .25;
}

#section12 button {
  padding: 6px 10px;
  text-transform: capitalize;
  background: #000;
  border: 2px solid #fff;
  color: #fff;
}   

#section12 .listConf .list-group-item{
  padding: 0;
}

#section12 .btnPlus {
  padding: 2px 7px;
}

#section12 span {
  font-size: 11px;
  font-weight: bold;
}

#section12 .listRight {
    margin-top: 20px;
}

.specs {
  font-size: 27px !important;
  font-weight: normal !important;
  margin-left: 7px;
}

#section12 h2 {
  font-weight: 600;
    color: #fff;
    margin: 3px;
}

#section7 .textResp {
  display: none;
}

#section8 .about {
  display: none;
}

/*animation*/
.cssanimation {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.opNone {
  opacity: 0;
}

.dY2 {
  animation-delay: .2s;
}

.dY3 {
  animation-delay: .3s;
}

.dY4 {
  animation-delay: .4s;
}

.dY5 {
  animation-delay: .5s;
}

.dY6 {
  animation-delay: .6s;
}

.dY7 {
  animation-delay: .7s;
}

.dY8 {
  animation-delay: .8s;
}

.dY9 {
  animation-delay: .9s;
}

.dY10 {
  animation-delay: 1s;
}

.dY11 {
  animation-delay: 1.1s;
}

.dY12 {
  animation-delay: 1.2s;
}

.dY13 {
  animation-delay: 1.3s;
}

.dY14 {
  animation-delay: 1.4s;
}

.dY15 {
  animation-delay: 1.5s;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
        /*transform: translate(-50%, 100%); */
    }
    to { opacity: 1 }
}

.fadeInBottom_10 { animation-name: fadeInBottom_10 }
@keyframes fadeInBottom_10 {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to { opacity: 1 }
}

.fadeIn { animation-name: fadeIn }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to { opacity: 1 }
}

.fadeInBottom_About { animation-name: fadeInBottom_About }
@keyframes fadeInBottom_About {
    from {
        opacity: 0;
        transform: translate(-50%, 100%); 
    }
    to { opacity: 1 }
}


.alt {
  position: relative;
  width: 22px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
}

.img1 {
  animation-duration: 1.5s;
  position: relative;
  width: 22px;
  height: 646px;
  z-index: -1;
  background-size: auto;
  background-image: url(https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/models/hero/numerals.svg?20170619);
  transform: translateY(-68px) translateZ(0px);
}

.img2 {
  animation-duration: 1.5s;
  position: relative;
  width: 22px;
  height: 646px;
  z-index: -1;
  background-size: auto;
  background-image: url(https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/models/hero/numerals.svg?20170619);
  transform: translateY(-466px) translateZ(0px);
}

.fadeInBottomS { animation-name: fadeInBottomS }
  @keyframes fadeInBottomS {
      from {
          opacity: 0;
         transform: translateY(0px) translateZ(0px);
      }
      to { opacity: 1 ;
       transform: translateY(-68px) translateZ(0px);
     }
  }

  .fadeInBottomS2 { animation-name: fadeInBottomS2 }
  @keyframes fadeInBottomS2 {
      from {
          opacity: 0;
         transform: translateY(0px) translateZ(0px);
      }
      to { opacity: 1 ;
       transform: translateY(-466px) translateZ(0px);
     }
  }


  .rotateS { animation-name: rotateS }
  @keyframes rotateS {
      from {
          opacity: 0;
         transform: translateZ(0px) rotateZ(-90deg);
      }
      to { 
        opacity: 1 ;
       transform: translateZ(0px) rotateZ(0deg);
     }
  }

  .rotateN { animation-name: rotateN }
  @keyframes rotateN {
      from {
         transform: translateZ(0px) rotateZ(-90deg);
      }
      to { 
       transform: translateZ(0px) rotateZ(90deg);
     }
  }

  .speedometer {
    position: relative;
    height: 30px;
    width: 48px;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/models/hero/speedometer.svg?20170619);
  }

  .speedometer-circle {
    position: absolute;
    width: 33px;
    height: 17px;
    bottom: 4px;
    left: 7px;
    overflow: hidden;
  }

  .speedometer-circle-inner {
    position: absolute;
    width: 33px;
    height: 17px;
    bottom: 0;
    left: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-image: url(https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/models/hero/speedometercircle.svg?20170619);
   transform: translateZ(0px) rotateZ(0deg);
    animation-duration: 1.5s;
  }

  .separator {
        display: inline-block;
    font-weight: bold;
    padding: 0;
    border: 0;
    vertical-align: bottom;
    outline: 0 none;
    font-size: 25px;
  }

  .speedometer-needle {
      position: absolute;
      width: 5px;
      height: 19px;
      bottom: 3px;
      left: 21.5px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      -webkit-transform-origin: 50% 15px;
      transform-origin: 50% 15px;
      background-image: url(https://www.tesla.com//content/dam/tesla-site/sx-redesign/img/models/hero/speedometerneedle.svg?20170619);
      transform: translateZ(0px) rotateZ(90deg);
      animation-duration: 1.5s;
  }