:root {
	--fonts-base-secondary: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--fonts-china-secondary: "HeiS ASC Simplified Chinese", "HeiS ASC Simplified Chinese_n5";
	--fonts-traditional-chinese-secondary: "HeiT ASC Traditional Chinese";
	--fontstack-china-secondary: "HeiS ASC Simplified Chinese", "HeiS ASC Simplified Chinese_n5", "HeiT ASC Traditional Chinese";
	--fontstack-china-secondary: var(--fonts-china-secondary), var(--fonts-traditional-chinese-secondary);
	--fonts-secondary: "HeiS ASC Simplified Chinese", "HeiS ASC Simplified Chinese_n5", "HeiT ASC Traditional Chinese", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--fonts-secondary: var(--fontstack-china-secondary), var(--fonts-base-secondary)
}
:root {
	--media-height-pannabel-carousel: 100vh;
	--iphone-media-height-pannabel-carousel: calc(100vh - 30px);
	--iphone-x-media-height-pannabel-carousel: calc(100vh - 69px);
	--iphone-xr-media-height-pannabel-carousel: calc(100vh - 69px);
	--iphone-xs-max-media-height-pannabel-carousel: calc(100vh - 69px);
	--transition-timing-generic-pannable-carousel: 750ms;
	--transition-timing-pannable-carousel-header: 350ms;
	--transition-delay-generic-pannable-carousel-animation: 600ms;
	--transformX-pannable-carousel: 0;
	--transition-slide-function-pannable-carousel: ease;
	--transition-slide-timing-pannable-carousel: 450ms;
	--transition-slide-property-pannable-carousel: transform;
	--video-extra-width-pannable-carousel: 140%;
	--video-extra-width-medium-desktop-pannable-carousel: 100%
}
.pannable-carousel>div[class^=pannable-carousel--default] {
	min-height: 100vh;
	min-height: var(--media-height-pannabel-carousel);
	overflow: hidden;
	position: relative
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel>div[class^=pannable-carousel--default] {
		max-height: none;
		min-height: 100%
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel>div[class^=pannable-carousel--default] {
		min-height: 140vh;
		min-height: 100vh
	}
}
@supports (-webkit-overflow-scrolling: touch) {
	@media (max-width: 639px) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] {
			min-height: calc(100vh - 30px);
			min-height: var(--iphone-media-height-pannabel-carousel)
		}
	}
	@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
	only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] {
			min-height: calc(100vh - 69px);
			min-height: var(--iphone-x-media-height-pannabel-carousel)
		}
	}
	@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
	only screen and (device-width: 414px) and (device-height: 896px) and (min-resolution: 3dppx) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] {
			min-height: calc(100vh - 69px);
			min-height: var(--iphone-xs-max-media-height-pannabel-carousel)
		}
	}
	@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
	only screen and (device-width: 414px) and (device-height: 896px) and (min-resolution: 2dppx) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] {
			min-height: calc(100vh - 69px);
			min-height: var(--iphone-xr-media-height-pannabel-carousel)
		}
	}
}
.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img,
.pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
	display: block;
	height: 100vh;
	height: var(--media-height-pannabel-carousel);
	max-width: none;
	min-height: 100vh;
	min-height: var(--media-height-pannabel-carousel);
	font-family: "object-fit:cover";
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img {
		height: 100vh;
		height: var(--media-height-pannabel-carousel);
		max-height: 100vh;
		max-height: var(--media-height-pannabel-carousel);
		min-height: 0;
		-o-object-position: center center;
		object-position: center center
	}
	.pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
		height: 100vh;
		height: var(--media-height-pannabel-carousel);
		max-height: 100vh;
		max-height: var(--media-height-pannabel-carousel);
		min-height: 0
	}
}
@media (min-width: 640px) and (max-width: 1023px) and (orientation: portrait) {
	.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img {
		-o-object-position: center center;
		object-position: center center
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img {
		height: 140vh;
		max-height: 140vh;
		-o-object-position: center center;
		object-position: center center
	}
	.pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
		height: 140vh;
		max-height: 140vh
	}
}
@supports (-webkit-overflow-scrolling: touch) {
	@media (max-width: 639px) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img,
		.pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
			height: calc(100vh - 30px);
			height: var(--iphone-media-height-pannabel-carousel);
			max-height: calc(100vh - 30px);
			max-height: var(--iphone-media-height-pannabel-carousel)
		}
	}
	@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
	only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img, .pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
			height: calc(100vh - 69px);
			height: var(--iphone-x-media-height-pannabel-carousel);
			min-height: calc(100vh - 69px);
			min-height: var(--iphone-x-media-height-pannabel-carousel)
		}
	}
	@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
	only screen and (device-width: 414px) and (device-height: 896px) and (min-resolution: 3dppx) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] .hero-image img, .pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
			height: calc(100vh - 69px);
			height: var(--iphone-xs-max-media-height-pannabel-carousel);
			min-height: calc(100vh - 69px);
			min-height: var(--iphone-xs-max-media-height-pannabel-carousel)
		}
	}
	@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
	only screen and (device-width: 414px) and (device-height: 896px) and (min-resolution: 2dppx) and (orientation: portrait) {
		.pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
			height: calc(100vh - 69px);
			height: var(--iphone-xr-media-height-pannabel-carousel);
			min-height: calc(100vh - 69px);
			min-height: var(--iphone-xr-media-height-pannabel-carousel)
		}
	}
}
@media (-ms-high-contrast: none),
screen and (-ms-high-contrast: active) {
	.pannable-carousel>div[class^=pannable-carousel--default] .hero-video {
		max-height: none
	}
}
:root {
	--hero-img-object-position: 0 50%;
	--hero-img-md-desk-object-position: 0 55%;
	--intro-left: 50%;
	--intro-translatex: -50%;
	--intro-left-md-desk: 52.7%;
	--intro-translatex-md-desk: -52.7%;
	--intro-left-mobile-land: 50%;
	--intro-translatex-mobile-land: -50%;
	--intro-left-ipad-port: 49.8%;
	--intro-translatex-ipad-port: -49.8%;
	--intro-object-position: 50% 54%;
	--intro-extra-width: 212%;
	--intro-extra-width-sm-desk: 180%;
	--intro-extra-width-mo-lang: 100%;
	--intro-extra-width-min-840: 100%;
	--intro-object-position-min-840: 50% 54%;
	--intro-object-position-ipad-port: 50% 50%;
	--intro-extra-width-ipad-port: 210%;
	--intro-object-position-md-desk: 50% 55%;
	--intro-extra-width-md-desk: 112%
}
.pannable-carousel .asset-container {
	width: 100%
}
.pannable-carousel[data-car-amount="4"] .asset-container .hero-image .image {
	-o-object-position: 50% 50%;
	object-position: 50% 50%
}
@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.pannable-carousel[data-car-amount="4"] .asset-container .hero-image .image.transition--intro-width {
		-o-object-position: 50% 45%;
		object-position: 50% 45%;
		background-position-x: 50%;
		background-position-y: 45%;
		width: calc(100vw + 180%)
	}
}
@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.pannable-carousel[data-car-amount="3"] .asset-container .hero-image .image.transition--intro-width {
		-o-object-position: 50% 50%;
		object-position: 50% 50%;
		background-position-x: 50%;
		background-position-y: 50%;
		width: calc(100vw + 112%)
	}
}
.pannable-carousel .asset-container .hero-image .image {
	width: 100vw;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translate3d(var(--transformX-pannable-carousel), 0, 0);
	transform: translate3d(var(--transformX-pannable-carousel), 0, 0);
	-webkit-transition: -webkit-transform .45s ease;
	transition: -webkit-transform .45s ease;
	transition: transform .45s ease;
	transition: transform .45s ease, -webkit-transform .45s ease;
	-webkit-transition: var(--transition-slide-property-pannable-carousel) var(--transition-slide-timing-pannable-carousel) var(--transition-slide-function-pannable-carousel);
	transition: var(--transition-slide-property-pannable-carousel) var(--transition-slide-timing-pannable-carousel) var(--transition-slide-function-pannable-carousel);
	display: block;
	position: relative;
	font-family: "object-fit:cover;object-position:50% 55%";
	font-family: "object-fit:cover;object-position:var(--intro-object-position-md-desk)";
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 0 50%;
	object-position: 0 50%;
	-o-object-position: var(--hero-img-object-position);
	object-position: var(--hero-img-object-position)
}
@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.pannable-carousel .asset-container .hero-image .image {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transition: -webkit-transform .45s ease 0s;
		transition: -webkit-transform .45s ease 0s;
		transition: transform .45s ease 0s;
		transition: transform .45s ease 0s, -webkit-transform .45s ease 0s
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .asset-container .hero-image .image {
		-o-object-position: 50% 75%;
		object-position: 50% 75%
	}
}
@media (min-width: 960px) and (orientation: landscape) {
	.pannable-carousel .asset-container .hero-image .image {
		-o-object-position: 0 55%;
		object-position: 0 55%;
		-o-object-position: var(--hero-img-md-desk-object-position);
		object-position: var(--hero-img-md-desk-object-position)
	}
}
.pannable-carousel .asset-container .hero-image .image.transition--intro {
	-webkit-transition: width .85s ease-in-out .6s;
	transition: width .85s ease-in-out .6s;
	left: 50%;
	left: var(--intro-left);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transform: translateX(var(--intro-translatex));
	transform: translateX(var(--intro-translatex))
}
@media (min-width: 640px) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro {
		left: 50%;
		left: var(--intro-left);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-transform: translateX(var(--intro-translatex));
		transform: translateX(var(--intro-translatex))
	}
}
@media (min-width: 960px) and (orientation: landscape) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro {
		left: 52.7%;
		left: var(--intro-left-md-desk);
		-webkit-transform: translateX(-52.7%);
		transform: translateX(-52.7%);
		-webkit-transform: translateX(var(--intro-translatex-md-desk));
		transform: translateX(var(--intro-translatex-md-desk))
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro {
		left: 50%;
		left: var(--intro-left-mobile-land);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-transform: translateX(var(--intro-translatex-mobile-land));
		transform: translateX(var(--intro-translatex-mobile-land))
	}
}
@media only screen and (device-height: 1024px) and (orientation: portrait),
only screen and (device-height: 1112px) and (orientation: portrait),
only screen and (device-height: 1366px) and (orientation: portrait) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro {
		left: 49.8%;
		left: var(--intro-left-ipad-port);
		-webkit-transform: translateX(-49.8%);
		transform: translateX(-49.8%);
		-webkit-transform: translateX(var(--intro-translatex-ipad-port));
		transform: translateX(var(--intro-translatex-ipad-port))
	}
}
.pannable-carousel .asset-container .hero-image .image.transition--intro-width {
	-o-object-position: 50% 54%;
	object-position: 50% 54%;
	-o-object-position: var(--intro-object-position);
	object-position: var(--intro-object-position);
	width: calc(100vw + 212%);
	width: calc(100vw + var(--intro-extra-width))
}
@media (min-width: 640px) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro-width {
		-o-object-position: 50% 49%;
		object-position: 50% 49%;
		width: calc(100vw + 180%);
		width: calc(100vw + var(--intro-extra-width-sm-desk))
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro-width {
		min-height: 100vh;
		-o-object-position: 50% 75%;
		object-position: 50% 75%;
		width: calc(100vw + 100%);
		width: calc(100vw + var(--intro-extra-width-mo-lang))
	}
}
@media (min-width: 840px) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro-width {
		-o-object-position: 50% 54%;
		object-position: 50% 54%;
		-o-object-position: var(--intro-object-position-min-840);
		object-position: var(--intro-object-position-min-840);
		width: calc(100vw + 100%);
		width: calc(100vw + var(--intro-extra-width-min-840))
	}
}
@media only screen and (device-height: 1024px) and (orientation: portrait),
only screen and (device-height: 1112px) and (orientation: portrait),
only screen and (device-height: 1366px) and (orientation: portrait) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro-width {
		-o-object-position: 50% 50%;
		object-position: 50% 50%;
		-o-object-position: var(--intro-object-position-ipad-port);
		object-position: var(--intro-object-position-ipad-port);
		width: calc(100vw + 210%);
		width: calc(100vw + var(--intro-extra-width-ipad-port))
	}
}
@media (min-width: 960px) and (orientation: landscape) {
	.pannable-carousel .asset-container .hero-image .image.transition--intro-width {
		-o-object-position: 50% 55%;
		object-position: 50% 55%;
		-o-object-position: var(--intro-object-position-md-desk);
		object-position: var(--intro-object-position-md-desk);
		width: calc(100vw + 112%);
		width: calc(100vw + var(--intro-extra-width-md-desk))
	}
}
.pannable-carousel {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.pannable-carousel .product-content--container {
	opacity: 0;
	position: absolute;
	top: 13%;
	z-index: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-transition: opacity .75s ease-in;
	transition: opacity .75s ease-in;
	-webkit-transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in;
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in
}
.pannable-carousel .product-content--container h1,
.pannable-carousel .product-content--container p {
	color: #fff;
	color: var(--tds-color--white)
}
.pannable-carousel .product-content--container.product-content--reveal {
	opacity: 1;
	z-index: 1
}
.pannable-carousel .product-content {
	opacity: 0;
	text-align: center;
	position: static;
	height: 100vh;
	height: var(--media-height-pannabel-carousel);
	width: 100vw;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px
}
.pannable-carousel .product-content .heading-container {
	opacity: 0;
	-webkit-transition: opacity .75s ease-in-out;
	transition: opacity .75s ease-in-out;
	-webkit-transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in-out;
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in-out
}
.pannable-carousel .product-content .heading-container h1 {
	margin-bottom: 0
}
.pannable-carousel .product-content.product--is_active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
	z-index: 1
}
.pannable-carousel .product-content.product--is_active .heading-container {
	opacity: 1;
	padding-top: 35px
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .product-content.product--is_active .heading-container {
		padding-top: unset
	}
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .subheading--desktop {
		display: none
	}
}
@media (min-width: 640px) {
	.pannable-carousel .subheading--mobile {
		display: none
	}
}
.pannable-carousel .button-group {
	padding-top: 20px;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: none;
	transition: none
}
.pannable-carousel .button-group .tds-o-btn_group--item {
	width: 100%
}
@media (max-width: 639px) and (orientation: portrait) {
	.pannable-carousel .button-group {
		position: absolute;
		top: unset;
		bottom: 31%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 0 20px;
		padding: 0 var(--tds-gutter)
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .button-group {
		position: absolute;
		top: unset;
		bottom: 12%
	}
	.pannable-carousel .button-group .tds-o-btn_group--item {
		padding-left: 8px;
		padding-right: 8px
	}
	.pannable-carousel .button-group .tds-btn {
		margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
		position: static
	}
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) and (orientation: portrait) {
	.pannable-carousel .button-group {
		bottom: 28%
	}
}
.pannable-carousel .links .links-top_link {
	color: #fff;
	color: var(--tds-color--white);
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid var(--tds-color--white);
	padding-bottom: 0;
	font-size: 14px;
	font-size: var(--tds-font_size--small);
	font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-family: var(--tds-sans-font_stack)
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .links {
		position: absolute;
		bottom: 27%
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .links {
		display: none
	}
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) and (orientation: portrait) {
	.pannable-carousel .links {
		bottom: 24%
	}
}
.pannable-carousel .bottom-caption {
	position: absolute;
	padding-left: 20px;
	padding-left: var(--tds-gutter);
	padding-right: 20px;
	padding-right: var(--tds-gutter);
	bottom: 5%;
	left: 0;
	right: 0;
	font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-family: var(--tds-sans-font_stack);
	font-size: 14px;
	font-size: var(--tds-font_size--small)
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .bottom-caption {
		font-size: 12px;
		line-height: 18px;
		bottom: 14%
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .bottom-caption {
		bottom: 4%
	}
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) and (orientation: portrait) {
	.pannable-carousel .bottom-caption {
		bottom: 12%
	}
}
@media only screen and (device-height: 1024px) and (orientation: portrait),
only screen and (device-height: 1112px) and (orientation: portrait) {
	.pannable-carousel .bottom-caption {
		bottom: 8%
	}
}
@media only screen and (device-height: 1366px) and (orientation: portrait) {
	.pannable-carousel .bottom-caption {
		bottom: 6%
	}
}
.pannable-carousel .tds-carousel-indicators {
	opacity: 0;
	position: absolute;
	bottom: 9%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: 3px;
	z-index: 5;
	-webkit-transition: opacity .75s ease-in;
	transition: opacity .75s ease-in;
	-webkit-transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in;
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in
}
.pannable-carousel .tds-carousel-indicators.indicators--reveal {
	opacity: 1
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape),
(min-width: 640px) and (max-width: 1023px) and (orientation: portrait) {
	.pannable-carousel .tds-carousel-indicators {
		bottom: 12%
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .tds-carousel-indicators {
		bottom: 25%
	}
}
@media (max-width: 639px) and (orientation: portrait) {
	.pannable-carousel .tds-carousel-indicators {
		bottom: 41%
	}
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) and (orientation: portrait) {
	.pannable-carousel .tds-carousel-indicators {
		bottom: 37%
	}
}
.pannable-carousel .tds-carousel-indicators li {
	padding: 0
}
.pannable-carousel .tds-carousel-indicators button {
	border-color: #fff;
	border-color: var(--tds-color--white);
	padding: 0
}
.pannable-carousel .tds-carousel-indicator--active,
.pannable-carousel button.tds-carousel-indicator--active {
	background-color: #fff;
	background-color: var(--tds-color--white);
	border-color: #fff;
	border-color: var(--tds-color--white)
}
.pannable-carousel .tds-icon-arrow_down {
	bottom: 3%;
	left: 50%;
	margin-left: -10px;
	opacity: 0;
	position: absolute;
	cursor: pointer;
	width: 20px;
	z-index: 5;
	-webkit-transition: opacity .75s ease-in;
	transition: opacity .75s ease-in;
	-webkit-transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in;
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in
}
.pannable-carousel .tds-icon-arrow_down.tds-icon-arrow_down--reveal {
	opacity: 1
}
.pannable-carousel .tds-icon-arrow_down.tds-icon-arrow_down--inverted {
	-webkit-filter: invert(100%);
	filter: invert(100%)
}
@media (max-width: 639px) and (orientation: portrait),
(max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .tds-icon-arrow_down {
		bottom: 50px
	}
}
@media (max-width: 839px) and (orientation: landscape) {
	.pannable-carousel .tds-icon-arrow_down {
		display: none
	}
}
@media only screen and (device-height: 1366px) and (orientation: portrait) {
	.pannable-carousel .tds-icon-arrow_down {
		bottom: 60px
	}
}
@media only screen and (device-height: 1112px) and (orientation: landscape),
only screen and (device-height: 1366px) and (orientation: landscape),
only screen and (device-width: 768px) and (orientation: landscape) {
	.pannable-carousel .tds-icon-arrow_down {
		bottom: 30px
	}
}
.product-content--container .product-content.product--is_active .animate--slide_and_fade {
	-webkit-transition: opacity .75s ease-in .6s, -webkit-transform .75s linear .6s;
	transition: opacity .75s ease-in .6s, -webkit-transform .75s linear .6s;
	transition: opacity .75s ease-in .6s, transform .75s linear .6s;
	transition: opacity .75s ease-in .6s, transform .75s linear .6s, -webkit-transform .75s linear .6s;
	-webkit-transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in var(--transition-delay-generic-pannable-carousel-animation), -webkit-transform var(--transition-timing-generic-pannable-carousel) linear var(--transition-delay-generic-pannable-carousel-animation);
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in var(--transition-delay-generic-pannable-carousel-animation), -webkit-transform var(--transition-timing-generic-pannable-carousel) linear var(--transition-delay-generic-pannable-carousel-animation);
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in var(--transition-delay-generic-pannable-carousel-animation), transform var(--transition-timing-generic-pannable-carousel) linear var(--transition-delay-generic-pannable-carousel-animation);
	transition: opacity var(--transition-timing-generic-pannable-carousel) ease-in var(--transition-delay-generic-pannable-carousel-animation), transform var(--transition-timing-generic-pannable-carousel) linear var(--transition-delay-generic-pannable-carousel-animation), -webkit-transform var(--transition-timing-generic-pannable-carousel) linear var(--transition-delay-generic-pannable-carousel-animation);
	-webkit-transform: translateY(4vh);
	transform: translateY(4vh);
	opacity: 0
}
.product-content--reveal.product-content--container .product-content.product--is_active .animate--slide_and_fade {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1
}
.product-content--container .product-content.product--is_active .animated:not(.animate--slide_to_left),
.product-content--container .product-content.product--is_active .animated:not(.animate--slide_to_right) {
	opacity: 0
}
.product-content--container .product-content.product--is_active .animate--slide_to_left,
.product-content--container .product-content.product--is_active .animate--slide_to_right {
	-webkit-transition: opacity .35s ease-in, -webkit-transform .35s ease-out;
	transition: opacity .35s ease-in, -webkit-transform .35s ease-out;
	transition: transform .35s ease-out, opacity .35s ease-in;
	transition: transform .35s ease-out, opacity .35s ease-in, -webkit-transform .35s ease-out;
	-webkit-transition: opacity var(--transition-timing-pannable-carousel-header) ease-in, -webkit-transform var(--transition-timing-pannable-carousel-header) ease-out;
	transition: opacity var(--transition-timing-pannable-carousel-header) ease-in, -webkit-transform var(--transition-timing-pannable-carousel-header) ease-out;
	transition: transform var(--transition-timing-pannable-carousel-header) ease-out, opacity var(--transition-timing-pannable-carousel-header) ease-in;
	transition: transform var(--transition-timing-pannable-carousel-header) ease-out, opacity var(--transition-timing-pannable-carousel-header) ease-in, -webkit-transform var(--transition-timing-pannable-carousel-header) ease-out
}
.product-content--container .product-content.product--is_active .top-caption.animate--slide_to_left {
	margin-left: 30vw;
	-webkit-transform: translateX(-15vw);
	transform: translateX(-15vw);
	opacity: 1
}
.product-content--container .product-content.product--is_active .top-caption.animate--slide_to_right {
	margin-right: 30vw;
	-webkit-transform: translateX(15vw);
	transform: translateX(15vw);
	opacity: 1
}